<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles2.css' %}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdn.rawgit.com/gijsroge/tilt.js/38991dd7/dest/tilt.jquery.js'></script>
    <script  src="{% static 'script.js' %}"></script>
    <title>Home page</title>
</head>
<body>

<!-- partial:index.partial.html -->
    <link href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
    <div class="wrap">
      <h1>TV/Movies Search</h1>
      <form class="movie-form" action = '/recommend' method="get">
        <label for="search">Enter a Movie or TV show</label>
        <input type="text" id="search" placeholder="Then press enter.." name = "movie_name"/>
      </form>
      <div class="results"></div>
    </div>

    {% block content %}

    {% endblock content %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdn.rawgit.com/gijsroge/tilt.js/38991dd7/dest/tilt.jquery.js'></script>
    <script  src="{% static 'script.js' %}"></script>
</body>
</html>