<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Home page</title>
</head>
<body>

<!-- partial:index.partial.html -->
    <link href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
    <div class="wrap">
      <h1>TV/Movies Search</h1>
      <p>Uses <a href="http://www.omdbapi.com/">the omdb api</a>, not affiliated with IMDB.</p>
      <form class="movie-form" action = '/recommend' method="get">
        <label for="search">Enter a Movie or TV show</label>
        <input type="text" id="search" placeholder="Then press enter.." name = "movie_name"/>
      </form>
      <div class="results"></div>
    </div>

    {% block content %}

    {% endblock content %}

</body>
</html>