{% extends 'recommend/index2.html' %}

{% block content %}
    <div class="container">
    {% for i in recommends  %}

        <!--div class="container">
            <h1> {{i.movie_name}}  {{ i.movie_id }} </h1>
            <img  src= {{i.movie_poster}}>
            <li><a href="{% url 'recommend:movie_details' i.movie_id %}">know more about this movie</a></li>
            <br>
        </div-->


              <a href="{% url 'recommend:movie_details' i.movie_id %}" class="item tilt-poster">
                <div class="poster" style="background-image: url({{i.movie_poster}})">
                </div>
                <p>{{i.movie_name}}</p>
              </a>



    {% endfor %}
    </div>

{% endblock content %}