* {
  margin: 0;
  padding: 0;
}

body {
  background: #16181e;
  color: #fcfcfc;
  font-family: sans-serif;
  font-weight: light;
  margin: 1em;
}

h1 {
  font-size: 3vw;
  text-align: center;
  padding: 2em;
}

a {
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 6em;
  position: relative;
}

.container .item {
  margin: 1em;
  text-align: center;
  text-decoration: none;
}

.container .item .poster {
  width: 185px;
  height: 278px;
  background-position: center;
  background-size: cover;
  margin-bottom: .5em;
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.15);
}

.container .item p {
  width: 185px;
  font-size: .9em;
}

.mtt {
	position: absolute;
	bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
	color: #999;
	text-decoration: none;
}

.mtt span {
  color: #e74c3c;
}

.mtt:hover {
		color: #666;
}

.mtt:hover span {
		color: #c0392b;
}